// Файл обнуляющих стилей
@import "nullstyle.scss";
// Подключение шрифтов
// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700;900&display=swap');

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

%btn_styler{
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

@import "fonts";

//Подключение Slick slider
@import "slick";

//Cекция Header
.header {
  // padding: 22px 0;
  height:93px;
  display: flex;
  align-items: center;
  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo

  &__logo {
  }

  // .header__menu

  &__menu {
    width: 791px;
  }
}
.container {
  width: 1154px;
  margin: 0 auto;
}
.logo {
  // .logo__link

  &__link {
  }

  // .logo__img

  &__img {
    
  }
}

.menu {
  // .menu__list

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .menu__list-item

  &__list-item {
    // width: 105px;
    opacity:0;
    &:first-child{
      animation: listitem-appearing 400ms linear 1 forwards;
    }
    &:nth-child(2){
      animation: listitem-appearing 400ms linear 1 0.5s forwards;
    }
    &:nth-child(3){
      animation: listitem-appearing 400ms linear 1 1s forwards;
    }
    &:nth-child(4){
      animation: listitem-appearing 400ms linear 1 1.5s forwards;
    }
    &:nth-child(5){
      animation: listitem-appearing 400ms linear 1 2s forwards;
    }
    &:nth-child(6){
      animation: listitem-appearing 400ms linear 1 2.5s forwards;
    }
    &:nth-child(7){
      animation: listitem-appearing 400ms linear 1 3s forwards;
    }

  }

  @keyframes listitem-appearing {
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
    
  }

  // .menu__link

  &__link {
    font-family: "Lato", sans-serif;
    font-size: 13.5px;
    line-height: 1.2;
    color: #868686;

    // .menu__link_active

    &_active {
      display: block;
      // width: 105px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background-color: #fff;
      transition: background-color 0.2s ease-out 0s;
      background-color: #ffbb42;
      white-space:nowrap;
      color: #ffffff;
      transition: background-color 0.1s ease-out 0s,color 0.2s ease-out 0s;
         
      
    }
  }
}

.request {
  background-color:  #709dca;
  
  // .request__inner

  &__inner {
    padding: 110px 41px 0px;
  }

  // .request__top

  &__top {
    text-align: center;
    margin: 0 0 33px 0;
  }

  // .request__top-heading

  &__top-heading {
    font-family: "Gotham", sans-serif;
    font-size: 35px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #ffffff;
    margin: 0 0 13px 0;
  }

  // .request__top-text

  &__top-text {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
    color: #ffffff;
  }

  // .request__middle

  &__middle {
    
  }

  // .request__form

  &__form {
      width: 1084px;
  }

  // .request__slider

  &__slider {
    background: url('../img/Request/laptop.png')center 0px no-repeat;
    margin: 0 auto;
    padding: 19px 0 60px;
    position: relative;
    top: 63px
  }

  // .request__slider-item

  &__slider-item {
    

    
  }

  // .request__slider-img

  &__slider-img {
 margin: 0 auto;

  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
    border-radius: 50%;
    background:transparent;
    
    margin: 0 auto;
    
    .slick-active {
      button{
        background: transparent;
        border: 2px solid #1ca8dd;
      }
    }
      button {
        
        font-size:0;
        width: 16px;
        height: 15px;
        border-radius: 50%;
        background: transparent;
        border: 2px solid #dedfe0;
        margin: 0 6px;
      }
    // }
}
}
.container {
}

.form {
  // .form__input

  &__input {
    
    
    width: 281px;
    height: 46px;
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 1.2;
    color: #a9a9a9;
    padding: 18px 0 18px 41px;
    margin:0 5px 0 0;
      


    &:first-child{
        background: url('../img/Request/Icons/fullname.png')15px 15px no-repeat , #ffffff;
        
    }
    &:nth-child(2){
        background: url('../img/Request/Icons/email.png')15px 17px no-repeat , #ffffff;
        
    }
    &:nth-child(3){
        background: url('../img/Request/Icons/phonenumber.png')15px 15px no-repeat , #ffffff;
        
    }
  }

  

  // .form__button

  &__button {
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    width: 211px;
    height: 46px;
    background-color: #ffbb42;
  &:hover{
    border-radius: 10px;
    color: #ffbb42;
    background-color: green;
    transition: all 0.1s linear 0s;
  }
  }

}


// Секция Services


.services {
  padding: 203px 0 155px;
  /* .services__title */
  &__title {
    color: #394b50;
    text-align: center;
  }
  /* .services__subtitle */
  &__subtitle {
    color: #394b50;
    text-align: center;
  }
  /* .services__group */
  &__group {
    display: flex;
    justify-content: space-between;
    padding: 93px 0 0;

  }
  /* .services__items-left */
  &__items-left {
    height: 428px;
    width: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    animation: leftpart-appears 2s linear 1; 
  }

  @keyframes leftpart-appears {
    0%{
left:-1000px;
    }
    
    100%{
left:0;
    }
  }
  /* .services__item */
  &__item {
    
    display: flex;
    justify-content: flex-end;
   

    
  }
  &__item_faicons {
    background: url('../img/Services/Icons/fontawesomeicons.png') 0 0 no-repeat;
    transform: translate(0, 0);
    transition: all 0.8s ease 0s;
    &:hover{
    transform: translate(0, 10px);
    }
   
  }
  &__item_wcform{
    background: url('../img/Services/Icons/workingcontactform.png') 0 0 no-repeat;
    transform: translate(0, 0);
    transition: all 0.7s ease 0s;
    &:hover{
      transform: translate(10px, 0);
    }
  }
  &__item_fcode{
    background: url('../img/Services/Icons/friendlycode.png') 0 0 no-repeat;
    transform: scale(1, 1);
    transition: all 0.8s ease 0s;
    &:hover{
      transform: scale(0.9, 1.4);
    }
  }
  &__item_frdesign{
    background: url('../img/Services/Icons/fullyresponsivedesign.png') 0 0 no-repeat;
    transform: scale(1,1);
    transition: all 0.7s ease 0s;
    &:hover{
      transform: scale(-1.3, 0.7)
    }
  }

  &__item_rrihere{
    background: url('../img/Services/Icons/retinareadyiconshere.png') 0 0 no-repeat;
    transform: rotate(0deg);
    transition:all 0.7s ease 0s;
    &:hover{
      transform: rotate(13deg);
    }

  }
  &__item_ftlpdesign{
    background: url('../img/Services/Icons/flattrendylandingpageDesign.png') 15px 0 no-repeat;
    transform:skew(0,0);
    transition: all 0.6s ease 0s;
    &:hover{
      transform: skew(-13deg,-4deg);
    }
  }

  /* .services__item-icon */
  &__item-icon {
    
  }
  /* .services__item-img */
  &__item-img {
  }
  /* .services__description */
  &__description {
    width: 427px;
     &:hover{
      background: pink;
      text-shadow: 1px 1px 28px blue;
      border-radius: 4px;
      transition: all 150ms ease-out 0s;
    }
  }
  /* .services__description-title */
  &__description-title {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #394b50;
    margin: 0 0 10px 0;
  }
  /* .services__description-text */
  &__description-text {
    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #7b7b7b;
  }
  /* .services__items-right */
  &__items-right {
    width: 523px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    right: 0;
    animation: rightpart-appears 4s ease 1;
  }

  @keyframes rightpart-appears {
    0%{
      right:-1000px;
    }
    100{
      right: 0;
    }
  }
}
.container {
}
.title {
  font-family: "Gotham", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  margin: 0 0 13px 0;
  
}
.subtitle {
  font-family: "OpenSans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}


// Секция ABOUT
.about {
  display: flex;
  justify-content: center;
  /* .about__inner */
  &__inner {
    display: flex;
  }
  /* .about__picture */
  &__picture {
    flex-basis: 1 1 50%;
    transform: translate3d(0px,0px,0px) rotate3d(1, 1, 1, 0deg);
    transition:all 0.6s ease 0s;
    perspective-origin: center;
    perspective: 400px;
    &:hover{
      transform: translate3d(20px, 20px, 100px) rotate3d(1, 1, 1, 36deg);
    }

  }
  /* .about__picture-jpg */
  &__picture-jpg {
    
  }
  /* .about__info */
  &__info {
    
    max-width: 850px;
    background-color: #ffc155;
    padding: 164px 265px 164px 80px;
    transform: scale3d(1, 1, 1);
    transition: all 0.6s ease 0s;
    &:hover{
      transform: scale3d(1.1,-1.1,1.3);
    }
  }
  /* .about__title */
  &__title {
    color:#ffffff;
    margin: 0 0 28px 0;
  }
  /* .about__text */
  &__text {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 33px 0;
  }
  /* .about__btn */
  &__btn {
    display: block;
    width: 145px;
    height: 46px;
    border: 1px solid #e7ad48;
    background-color: transparent;
    &:hover{
      color: #e7ad48;
      background-color: #ffffff;
      border:none;
      transition: background-color 0.1s ease-out 0s, color 0.1s ease-out 0s;
    }
  }
}
.container {
}
.title {
}
.btn-main-style{
    
    @extend %btn_styler;
  }

// Секция Price


.price {
  padding: 137px 265px 194px;
  background-color: #e7edf3;
  /* .price__top */
  &__top {
    text-align: center;

  }
  /* .price__top-title */
  &__top-title {
    color: #394b50;
  }
  /* .price__top-subtitle */
  &__top-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
    color: #75888d;
  }
  /* .price__middle-inner */
  &__middle-inner {
    padding: 79px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 1170px;
    height: 501px;
  }
  /* .price__item */
  &__item {
    width: 391px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccd5df;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    
  }
  /* .price__item-inner */
  &__item-inner {
    padding: 57px 0 48px;

  }
  /* .price__item-title */
  &__item-title {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    line-height: 22px;
    font-weight: 300;
    text-transform: uppercase;
    color: #818b95;
    margin: 0 0 30px 0;
  }
  /* .price__item-title_active */
  // &__item-title_active {
  //   color:#ffffff;
  // }
  /* .price__cost */
  &__cost {
  }
  /* .price__cost-value */
  &__cost-value {
    padding: 0 0 0 14px;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffbb42;
    display: block;
    position: relative;
    margin: 0 0 15px 0;
    &:before{
      display: block;
      content: "$";
      position: absolute;
      top: -10px;
      left: 120px;
      font-size: 30px;
      
      }
  }
  /* .price__dollar */
  &__dollar {
    
  }
  /* .price__cost-period */
  &__cost-period {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    text-transform: none;
    color: #818b95;
    text-transform: uppercase;
    margin:0 0 33px 0;
  }
  /* .price__feature */
  &__feature {
    font-family: 'Lato', sans-serif;
    font-size: 13.5px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b5bbc1;
    border-top: 1px solid #e2e9f0;
    width: 329px;
    text-align: center;
  }
  /* .price__btn */
  &__btn {
    margin: 20px 0 0 0;
    width: 131px;
    height: 42px;
    background-color: #ffbb42;
  }
  /* .price__item_active */
  &__item_active {
    
      height: 501px;
      background-color: #709dca;
      display: flex;
      flex-direction: column;
      justify-content: center; 

      .price__item-title_active {
        color: #ffffff;

      }
      .price__cost_active{
        color: #ffffff;
      }
      .price__cost-value_active{
        color: #ffffff;
      }
      .price__cost-period_active{
        color:#ffffff;
      }
      .price__feature_active{
        border-top: 1px solid #8eb8e2;
        color: #c2e1ff;
      }


  }
}
.container {
}
.title {
}
.btn-main-style {
}


// Секция How it works

.how {
  padding: 155px 0 149px;
  text-align: center;
  /* .how__top */
  &__top {
    text-align: center;
  }
  /* .how__title */
  &__title {
    color: #394b50;

  }
  /* .how__subtitle */
  &__subtitle {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
    margin:4px 0 0 0;
  }
  /* .how__middle */
  &__middle {
    padding: 78px 0 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1113px;
  }
  /* .how__middle-inner */
  &__middle-inner {

    
    
  }
  /* .how__middle-items */
  &__middle-items {
      display: flex;
      justify-content: space-between;
  }
  /* .how__middle-item */
  &__middle-item {
    display: flex;
    flex-direction: column;
    align-items:center;
    &:nth-child(5){
      position:relative;
      top:5px;
    }
    
  }
  /* .how__middle-item-img */
  &__middle-item-img {
    margin: 0 0 100px 0;
  }
  /* .how__middle-item-heading */
  &__middle-item-heading {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #394b50;
    margin: 0 0 28px 0;
  }
  /* .how__middle-item-text */
  &__middle-item-text {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #7b7b7b;
    width: 229px;
    text-align:center;
  }
  /* .how__middle-arrow */
  &__middle-arrows-down {
    
    margin:0 -11px 0 -11px;
    position:relative;
    bottom:26px;
  }
    /* .how__middle-arrows-up */
  &__middle-arrows-up {
    margin:0 -11px 0 -11px;
    position:relative;
    top:67px;
  }
  /* .how__button */
  &__button {
    
    width: 165px;
    height: 46px;
    background-color: #ffbb42;
    position:relative;
    right:17px;
  }

}
.container {
}
.title {
}
.btn-main-style {
}
 
// Секция Happy Clients

.clients {
  background-color: #ffc155;
  padding: 141px 0 160px;
  /* .clients__top */
  &__top {
    text-align: center;

  }
  /* .clients__top-title */
  &__top-title {
    color: #ffffff;
    line-height: 25px;
  }
  /* .clients__top-subtitle */
  &__top-subtitle {
    color: #ffffff;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    display: block;

  }
  /* .clients__comments */
  &__comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 38px 0 0 0;
  }
  /* .clients__comment */
  &__comment {
    max-width: 567px;
    max-height: 241px;
    background-color: #ffffff;
    margin: 20px 0 0 0;
    padding: 41px 41px 51px 30px;
    display: flex;
    justify-content: space-between;

  }
  /* .clients__comment-leftside */
  &__comment-leftside {
  }
  /* .clients__comment-photo */
  &__comment-photo {
  }
  /* .clients__comment-rightside */
  &__comment-rightside {
  }
  /* .clients__comment-text */
  &__comment-text {
    font-family: 'OpenSans',sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #7b7b7b;
    width: 344px;
    display: block;
    margin: 0 0 0 31px;
    position:relative;
    &:before{
      content: '“';
      position: absolute;
      font-family: 'BrandonGrotesque', sans-serif;
      font-size: 30px;
      line-height: 22px;
      font-weight: 700;
      color: #7b7b7b;
      display: inline-block;
      left:-17px;
    }
    &:after{
      content: '„';
      position: absolute;
      font-family: 'BrandonGrotesque', sans-serif;
      font-size: 30px;
      line-height: 22px;
      font-weight: 700;
      color: #7b7b7b;
      display: inline-block;
    }
  }
  /* .clients__comment-openquotes */
  &__comment-openquotes {
    font-family: 'BrandonGrotesque', sans-serif;
    font-size: 30px;
    line-height: 22px;
    font-weight: 700;
    color: #7b7b7b;
    display: inline-block;
    margin: 0 7px 0 0;

  }

  /* .client__comment-closequotes */
  &__comment-closequotes {
    font-family: 'BrandonGrotesque', sans-serif;
    font-size: 30px;
    line-height: 21px;
    font-weight: 700;
    color: #7b7b7b;
    
     }
  /* .clients__comment-name */
  &__comment-name {
    margin:0 0 0 31px;
    padding: 26px 0 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f6772c;
  }
  /* .clients__comment-position */
  &__comment-position {
    color: #99a9ae;
  }
}
.container {
}
.title {
}

// Секция Footer

.footer {
  padding: 154px 0 52px;
  /* .footer__top */
  &__top {
    text-align: center;
  }
  /* .footer__top-title */
  &__top-title {
    color: #394b50;
    line-height: 25px;
  }
  /* .footer__top-subtitle */
  &__top-subtitle {
    display: block;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
    margin: 0 0 38px 0;
  }
  /* .footer__top-form */
  &__top-form {
    display: block;
    width: 934px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;


  }
  /* .footer__middle */
  &__middle {
    margin: 53px auto 57px;
    width: 1102px;
    height: 549px;
    background: url('../img/Footer/footerbcg.png') 0 0/cover no-repeat;
    padding: 37px 0 0 0;
    position: relative;
    
    &:after{
      position: absolute;
      content:'';
      width: 1170px;
      height: 1px;
      background-color:#e3e7ec;
      bottom: -57px;
      left: -36px;
      display: block;

    }

  }
  /* .footer__middle-inner */
  &__middle-inner {
    padding: 68px 0 0 0;
    margin: 0 auto;
    text-align: center;
    background: #394b50;
    margin: 0 auto;
    width: 285px;
    height: 298px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    position:relative;

    &:after{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 14px solid #394b50;
      top:291px;
      left:131px;
    }
  }
  /* .footer__middle-title */
  &__middle-title {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
  /* .footer__middle-text */
  &__middle-text {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: #aeb7ba;
    width: 139px;
    text-align: center;
    display: inline-block;
    margin:11px 0 0 0;

  }
  /* .footer__middle-email */
  &__middle-email {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: #ffbb42;
  }
  /* .footer__logo */
  &__logo {
    text-align: center;
    margin: 15px;
  }
  /* .footer__bottom */
  &__bottom {
    padding: 68px 0 0 0;

  }
  /* .footer__bottom-menu */
  &__bottom-menu {
    width: 726px;
    margin: 0 auto 29px;

  }
  /* .footer__bottom-phone */
  &__bottom-phone {
    font-family: 'Lato', sans-serif;
    font-size: 22.6px;
    line-height: 24px;
    font-weight: 400;
    color: #394b50;
    text-align: center;
     position: relative;
     margin: 0 auto;
     width: 173px;
     display: block;
    &:before{
      content:'';
      position:absolute;
      display: block;
      background: url('../img/Footer/Icons/phone.png')0 0 no-repeat;
      width: 16px;
      height: 17px;
      left:-10px;
      top:4px;

    }
  }
  /* .footer__bottom-social */
  &__bottom-social {
    margin: 23px auto 0;
    width: 104px;
    display: block;
    }
  
}
.container {
}
.title {
}
.form {
  /* .form__input-name */
  &__input-name {
    width: 308px;
    height: 47px;
    border: 1px solid #cbcbcb;
    padding:0 0 0 44px;
    background: url('../img/Footer/Icons/username.png') 17px 15px no-repeat;
    
  }
  /* .form__input-email */
  &__input-email {
    width: 388px;
    height: 47px;
    border: 1px solid #cbcbcb;
    padding: 0 0 0 47px;
    background: url('../img/Footer/Icons/email.png') 17px 16.5px no-repeat;
    
  }
  /* .form__button */
  &__button {
    
  }
}
.btn-main-style {
}
.logo {
  /* .logo__link */
  &__link {
  }
  /* .logo__img */
  &__img {
  }
}
.menu {
  /* .menu__list */
  &__list {
  }
  /* .menu__list-item */
  &__list-item {
  }
  /* .menu__link */
  &__link {
  }
}
.social {

  }
  /* .social__list */
  .social__list {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction:row;
    
  }
  /* .social__list-item */
  .social__list-item {
    

    &:first-child{
      // background: url('../img/Footer/Icons/twitter.png') 0 0 no-repeat;
      // width: 16px;
      // height: 15px;
    }
    &:nth-child(2){
      // background: url('../img/Footer/Icons/facebook.png') 0 0 no-repeat;
    }
    &:nth-child(3){
      // background: url('../img/Footer/Icons/googleplus.png') 0 0 no-repeat;
    }
    &:last-child{
      // background: url('../img/Footer/Icons/linkedin.png') 0 0 no-repeat;
    }
    
  }
  /* .social__link */
  .social__link {
      
    
  }
  /* .social__img */
  .social__img {
    
}


// Секция Copyright
.copyright {
  background-color: #709dca;
  padding: 17px 0 15px;
  text-align: center;
  /* .copyright__text */
  &__text {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
  }
}
