@charset "UTF-8";

/*Обнуление некоторых стандартных стилей CSS браузера*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/

.btn-main-style {
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

@font-face {
  font-family: "BrandonGrotesque";
  font-display: swap;
  src: url("../fonts/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/BrandonGrotesque-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  padding: 22px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  width: 791px;
}

.container {
  width: 1154px;
  margin: 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-family: "Lato", sans-serif;
  font-size: 13.5px;
  line-height: 1.2;
  color: #868686;
}

.menu__link_active {
  display: block;
  width: 105px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease-out 0s;
  -o-transition: background-color 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s;
}

.menu__link_active:hover {
  background-color: #ffbb42;
  white-space: nowrap;
  color: #ffffff;
  -webkit-transition: background-color 0.1s ease-out 0s,color 0.2s ease-out 0s;
  -o-transition: background-color 0.1s ease-out 0s,color 0.2s ease-out 0s;
  transition: background-color 0.1s ease-out 0s,color 0.2s ease-out 0s;
}

.request {
  background-color: #709dca;
}

.request__inner {
  padding: 110px 41px 0px;
}

.request__top {
  text-align: center;
  margin: 0 0 33px 0;
}

.request__top-heading {
  font-family: "Gotham", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #ffffff;
  margin: 0 0 13px 0;
}

.request__top-text {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
  color: #ffffff;
}

.request__form {
  width: 1084px;
}

.no-webp .request__slider{
  background: url("../img/Request/laptop.png") center 0px no-repeat; }

.request__slider {
  margin: 0 auto;
  padding: 19px 0 60px;
  position: relative;
  top: 63px;
}

.request__slider-img {
  margin: 0 auto;
}

.request .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: transparent;
  margin: 0 auto;
}

.request .slick-dots .slick-active button {
  background: transparent;
  border: 2px solid #1ca8dd;
}

.request .slick-dots button {
  font-size: 0;
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #dedfe0;
  margin: 0 6px;
}

.form__input {
  width: 281px;
  height: 46px;
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  line-height: 1.2;
  color: #a9a9a9;
  padding: 18px 0 18px 41px;
  margin: 0 5px 0 0;
}

.no-webp .form__input:first-child{
  background: url("../img/Request/Icons/fullname.png") 15px 15px no-repeat, #ffffff; }

.no-webp .form__input:nth-child(2){
  background: url("../img/Request/Icons/email.png") 15px 17px no-repeat, #ffffff; }

.no-webp .form__input:nth-child(3){
  background: url("../img/Request/Icons/phonenumber.png") 15px 15px no-repeat, #ffffff; }

.form__button {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  width: 211px;
  height: 46px;
  background-color: #ffbb42;
}

.form__button:hover {
  border-radius: 10px;
  color: #ffbb42;
  background-color: green;
  -webkit-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}

.services {
  padding: 203px 0 155px;
  /* .services__title */
  /* .services__subtitle */
  /* .services__group */
  /* .services__items-left */
  /* .services__item */
  /* .services__item-icon */
  /* .services__item-img */
  /* .services__description */
  /* .services__description-title */
  /* .services__description-text */
  /* .services__items-right */
}

.services__title {
  color: #394b50;
  text-align: center;
}

.services__subtitle {
  color: #394b50;
  text-align: center;
}

.services__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 93px 0 0;
}

.services__items-left {
  height: 428px;
  width: 508px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.no-webp .services__item_faicons{
  background: url("../img/Services/Icons/fontawesomeicons.png") 0 0 no-repeat; }

.no-webp .services__item_wcform{
  background: url("../img/Services/Icons/workingcontactform.png") 0 0 no-repeat; }

.no-webp .services__item_fcode{
  background: url("../img/Services/Icons/friendlycode.png") 0 0 no-repeat; }

.no-webp .services__item_frdesign{
  background: url("../img/Services/Icons/fullyresponsivedesign.png") 0 0 no-repeat; }

.no-webp .services__item_rrihere{
  background: url("../img/Services/Icons/retinareadyiconshere.png") 0 0 no-repeat; }

.no-webp .services__item_ftlpdesign{
  background: url("../img/Services/Icons/flattrendylandingpageDesign.png") 15px 0 no-repeat; }

.services__description {
  width: 427px;
}

.services__description:hover {
  background: pink;
  text-shadow: 1px 1px 28px blue;
  border-radius: 4px;
  -webkit-transition: all 150ms ease-out 0s;
  -o-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
}

.services__description-title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  margin: 0 0 10px 0;
}

.services__description-text {
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
}

.services__items-right {
  width: 523px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  font-family: "Gotham", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  margin: 0 0 13px 0;
}

.subtitle {
  font-family: "OpenSans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}

.about {
  /* .about__inner */
  /* .about__picture */
  /* .about__picture-jpg */
  /* .about__info */
  /* .about__title */
  /* .about__text */
  /* .about__btn */
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__picture {
  -ms-flex-preferred-size: 1 1 50%;
      flex-basis: 1 1 50%;
}

.about__info {
  -ms-flex-preferred-size: 1 1 50%;
      flex-basis: 1 1 50%;
  background-color: #ffc155;
  padding: 164px 265px 164px 80px;
}

.about__title {
  color: #ffffff;
  margin: 0 0 28px 0;
}

.about__text {
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 33px 0;
}

.about__btn {
  display: block;
  width: 145px;
  height: 46px;
  border: 1px solid #e7ad48;
  background-color: transparent;
}

.about__btn:hover {
  color: #e7ad48;
  background-color: #ffffff;
  border: none;
  -webkit-transition: background-color 0.1s ease-out 0s, color 0.1s ease-out 0s;
  -o-transition: background-color 0.1s ease-out 0s, color 0.1s ease-out 0s;
  transition: background-color 0.1s ease-out 0s, color 0.1s ease-out 0s;
}

.price {
  padding: 137px 265px 194px;
  background-color: #e7edf3;
  /* .price__top */
  /* .price__top-title */
  /* .price__top-subtitle */
  /* .price__middle-inner */
  /* .price__item */
  /* .price__item-inner */
  /* .price__item-title */
  /* .price__item-title_active */
  /* .price__cost */
  /* .price__cost-value */
  /* .price__dollar */
  /* .price__cost-period */
  /* .price__feature */
  /* .price__btn */
  /* .price__item_active */
}

.price__top {
  text-align: center;
}

.price__top-title {
  color: #394b50;
}

.price__top-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
  color: #75888d;
}

.price__middle-inner {
  padding: 79px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
}

.price__item {
  width: 391px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccd5df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.price__item-inner {
  padding: 57px 0 48px;
}

.price__item-title {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: #818b95;
  margin: 0 0 30px 0;
}

.price__cost-value {
  padding: 0 0 0 14px;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffbb42;
  display: block;
  position: relative;
  margin: 0 0 15px 0;
}

.price__cost-value:before {
  display: block;
  content: "$";
  position: absolute;
  top: -10px;
  left: 120px;
  font-size: 30px;
}

.price__cost-period {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  text-transform: none;
  color: #818b95;
  text-transform: uppercase;
  margin: 0 0 33px 0;
}

.price__feature {
  font-family: 'Lato', sans-serif;
  font-size: 13.5px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b5bbc1;
  border-top: 1px solid #e2e9f0;
  width: 329px;
  text-align: center;
}

.price__btn {
  margin: 20px 0 0 0;
  width: 131px;
  height: 42px;
  background-color: #ffbb42;
}

.price__item_active {
  height: 501px;
  background-color: #709dca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__item_active .price__item-title_active {
  color: #ffffff;
}

.price__item_active .price__cost_active {
  color: #ffffff;
}

.price__item_active .price__cost-value_active {
  color: #ffffff;
}

.price__item_active .price__cost-period_active {
  color: #ffffff;
}

.price__item_active .price__feature_active {
  border-top: 1px solid #8eb8e2;
  color: #c2e1ff;
}

.how {
  padding: 155px 0 149px;
  text-align: center;
  /* .how__top */
  /* .how__title */
  /* .how__subtitle */
  /* .how__middle */
  /* .how__middle-inner */
  /* .how__middle-items */
  /* .how__middle-item */
  /* .how__middle-item-img */
  /* .how__middle-item-heading */
  /* .how__middle-item-text */
  /* .how__middle-arrow */
  /* .how__middle-arrows-up */
  /* .how__button */
}

.how__top {
  text-align: center;
}

.how__title {
  color: #394b50;
}

.how__subtitle {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
  margin: 4px 0 0 0;
}

.how__middle {
  padding: 78px 0 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1113px;
}

.how__middle-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__middle-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how__middle-item:nth-child(5) {
  position: relative;
  top: 5px;
}

.how__middle-item-img {
  margin: 0 0 100px 0;
}

.how__middle-item-heading {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  margin: 0 0 28px 0;
}

.how__middle-item-text {
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
  width: 229px;
  text-align: center;
}

.how__middle-arrows-down {
  margin: 0 -11px 0 -11px;
  position: relative;
  bottom: 26px;
}

.how__middle-arrows-up {
  margin: 0 -11px 0 -11px;
  position: relative;
  top: 67px;
}

.how__button {
  width: 165px;
  height: 46px;
  background-color: #ffbb42;
  position: relative;
  right: 17px;
}

.clients {
  background-color: #ffc155;
  padding: 141px 0 160px;
  /* .clients__top */
  /* .clients__top-title */
  /* .clients__top-subtitle */
  /* .clients__comments */
  /* .clients__comment */
  /* .clients__comment-leftside */
  /* .clients__comment-photo */
  /* .clients__comment-rightside */
  /* .clients__comment-text */
  /* .clients__comment-openquotes */
  /* .client__comment-closequotes */
  /* .clients__comment-name */
  /* .clients__comment-position */
}

.clients__top {
  text-align: center;
}

.clients__top-title {
  color: #ffffff;
  line-height: 25px;
}

.clients__top-subtitle {
  color: #ffffff;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  display: block;
}

.clients__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 38px 0 0 0;
}

.clients__comment {
  max-width: 567px;
  max-height: 241px;
  background-color: #ffffff;
  margin: 20px 0 0 0;
  padding: 41px 41px 51px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__comment-text {
  font-family: 'OpenSans',sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
  width: 344px;
  display: block;
  margin: 0 0 0 31px;
  position: relative;
}

.clients__comment-text:before {
  content: '“';
  position: absolute;
  font-family: 'BrandonGrotesque', sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  color: #7b7b7b;
  display: inline-block;
  left: -17px;
}

.clients__comment-text:after {
  content: '„';
  position: absolute;
  font-family: 'BrandonGrotesque', sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  color: #7b7b7b;
  display: inline-block;
}

.clients__comment-openquotes {
  font-family: 'BrandonGrotesque', sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  color: #7b7b7b;
  display: inline-block;
  margin: 0 7px 0 0;
}

.clients__comment-closequotes {
  font-family: 'BrandonGrotesque', sans-serif;
  font-size: 30px;
  line-height: 21px;
  font-weight: 700;
  color: #7b7b7b;
}

.clients__comment-name {
  margin: 0 0 0 31px;
  padding: 26px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f6772c;
}

.clients__comment-position {
  color: #99a9ae;
}

.footer {
  padding: 154px 0 52px;
  /* .footer__top */
  /* .footer__top-title */
  /* .footer__top-subtitle */
  /* .footer__top-form */
  /* .footer__middle */
  /* .footer__middle-inner */
  /* .footer__middle-title */
  /* .footer__middle-text */
  /* .footer__middle-email */
  /* .footer__logo */
  /* .footer__bottom */
  /* .footer__bottom-menu */
  /* .footer__bottom-phone */
  /* .footer__bottom-social */
}

.footer__top {
  text-align: center;
}

.footer__top-title {
  color: #394b50;
  line-height: 25px;
}

.footer__top-subtitle {
  display: block;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 0 38px 0;
}

.footer__top-form {
  display: block;
  width: 934px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.no-webp .footer__middle{
  background: url("../img/Footer/footerbcg.png") 0 0/cover no-repeat; }

.footer__middle {
  margin: 53px auto 57px;
  width: 1102px;
  height: 549px;
  padding: 37px 0 0 0;
  position: relative;
}

.footer__middle:after {
  position: absolute;
  content: '';
  width: 1170px;
  height: 1px;
  background-color: #e3e7ec;
  bottom: -57px;
  left: -36px;
  display: block;
}

.footer__middle-inner {
  padding: 68px 0 0 0;
  margin: 0 auto;
  text-align: center;
  background: #394b50;
  margin: 0 auto;
  width: 285px;
  height: 298px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: relative;
}

.footer__middle-inner:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 14px solid #394b50;
  top: 291px;
  left: 131px;
}

.footer__middle-title {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__middle-text {
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #aeb7ba;
  width: 139px;
  text-align: center;
  display: inline-block;
  margin: 11px 0 0 0;
}

.footer__middle-email {
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #ffbb42;
}

.footer__logo {
  text-align: center;
  margin: 15px;
}

.footer__bottom {
  padding: 68px 0 0 0;
}

.footer__bottom-menu {
  width: 726px;
  margin: 0 auto 29px;
}

.footer__bottom-phone {
  font-family: 'Lato', sans-serif;
  font-size: 22.6px;
  line-height: 24px;
  font-weight: 400;
  color: #394b50;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 173px;
  display: block;
}

.no-webp .footer__bottom-phone:before{
  background: url("../img/Footer/Icons/phone.png") 0 0 no-repeat; }

.footer__bottom-phone:before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 17px;
  left: -10px;
  top: 4px;
}

.footer__bottom-social {
  margin: 23px auto 0;
  width: 104px;
  display: block;
}

.form {
  /* .form__input-name */
  /* .form__input-email */
  /* .form__button */
}

.no-webp .form__input-name{
  background: url("../img/Footer/Icons/username.png") 17px 15px no-repeat; }

.form__input-name {
  width: 308px;
  height: 47px;
  border: 1px solid #cbcbcb;
  padding: 0 0 0 44px;
}

.no-webp .form__input-email{
  background: url("../img/Footer/Icons/email.png") 17px 16.5px no-repeat; }

.form__input-email {
  width: 388px;
  height: 47px;
  border: 1px solid #cbcbcb;
  padding: 0 0 0 47px;
}

.logo {
  /* .logo__link */
  /* .logo__img */
}

.menu {
  /* .menu__list */
  /* .menu__list-item */
  /* .menu__link */
}

/* .social__list */

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* .social__list-item */

/* .social__link */

/* .social__img */

.copyright {
  background-color: #709dca;
  padding: 17px 0 15px;
  text-align: center;
  /* .copyright__text */
}

.copyright__text {
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.webp .request__slider{ background: url(../img/Request/laptop.webp) center 0px no-repeat; }

.webp .form__input:first-child{ background: url(../img/Request/Icons/fullname.webp) 15px 15px no-repeat, #ffffff; }

.webp .form__input:nth-child(2){ background: url(../img/Request/Icons/email.webp) 15px 17px no-repeat, #ffffff; }

.webp .form__input:nth-child(3){ background: url(../img/Request/Icons/phonenumber.webp) 15px 15px no-repeat, #ffffff; }

.webp .services__item_faicons{ background: url(../img/Services/Icons/fontawesomeicons.webp) 0 0 no-repeat; }

.webp .services__item_wcform{ background: url(../img/Services/Icons/workingcontactform.webp) 0 0 no-repeat; }

.webp .services__item_fcode{ background: url(../img/Services/Icons/friendlycode.webp) 0 0 no-repeat; }

.webp .services__item_frdesign{ background: url(../img/Services/Icons/fullyresponsivedesign.webp) 0 0 no-repeat; }

.webp .services__item_rrihere{ background: url(../img/Services/Icons/retinareadyiconshere.webp) 0 0 no-repeat; }

.webp .services__item_ftlpdesign{ background: url(../img/Services/Icons/flattrendylandingpageDesign.webp) 15px 0 no-repeat; }

.webp .footer__middle{ background: url(../img/Footer/footerbcg.webp) 0 0/cover no-repeat; }

.webp .footer__bottom-phone:before{ background: url(../img/Footer/Icons/phone.webp) 0 0 no-repeat; }

.webp .form__input-name{ background: url(../img/Footer/Icons/username.webp) 17px 15px no-repeat; }

.webp .form__input-email{ background: url(../img/Footer/Icons/email.webp) 17px 16.5px no-repeat; }