@charset "UTF-8";

/*Обнуление некоторых стандартных стилей CSS браузера*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/

.btn__style {
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

@font-face {
  font-family: "BrandonGrotesque";
  font-display: swap;
  src: url("../fonts/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/BrandonGrotesque-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  padding: 22px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  width: 791px;
}

.container {
  width: 1154px;
  margin: 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-family: "Lato", sans-serif;
  font-size: 13.5px;
  line-height: 1.2;
  color: #868686;
}

.menu__link_active {
  display: block;
  width: 81px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease-out 0s;
  -o-transition: background-color 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s;
}

.menu__link_active:hover {
  background-color: #ffbb42;
  color: #ffffff;
  -webkit-transition: background-color 0.1s ease-out 0s,color 0.2s ease-out 0s;
  -o-transition: background-color 0.1s ease-out 0s,color 0.2s ease-out 0s;
  transition: background-color 0.1s ease-out 0s,color 0.2s ease-out 0s;
}

.request {
  background-color: #709dca;
}

.request__inner {
  padding: 110px 41px 0px;
}

.request__top {
  text-align: center;
  margin: 0 0 33px 0;
}

.request__top-heading {
  font-family: "Gotham", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #ffffff;
  margin: 0 0 13px 0;
}

.request__top-text {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
  color: #ffffff;
}

.request__form {
  width: 1084px;
}

.no-webp .request__slider{
  background: url("../img/Request/laptop.png") center 0px no-repeat; }

.request__slider {
  margin: 0 auto;
  padding: 19px 0 60px;
  position: relative;
  top: 63px;
}

.request__slider-img {
  margin: 0 auto;
}

.request .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: transparent;
  margin: 0 auto;
}

.request .slick-dots .slick-active button {
  background: transparent;
  border: 2px solid #1ca8dd;
}

.request .slick-dots button {
  font-size: 0;
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #dedfe0;
  margin: 0 6px;
}

.form__input {
  width: 281px;
  height: 46px;
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  color: #a9a9a9;
  padding: 18px 0 18px 41px;
  margin: 0 5px 0 0;
}

.no-webp .form__input:first-child{
  background: url("../img/Request/Icons/fullname.png") 15px 15px no-repeat, #ffffff; }

.no-webp .form__input:nth-child(2){
  background: url("../img/Request/Icons/email.png") 15px 17px no-repeat, #ffffff; }

.no-webp .form__input:nth-child(3){
  background: url("../img/Request/Icons/phonenumber.png") 15px 15px no-repeat, #ffffff; }

.form__button {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  width: 211px;
  height: 46px;
  background-color: #ffbb42;
}

.form__button:hover {
  border-radius: 10px;
  color: #ffbb42;
  background-color: green;
  -webkit-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}

.services {
  padding: 203px 0 155px;
  /* .services__title */
  /* .services__subtitle */
  /* .services__group */
  /* .services__items-left */
  /* .services__item */
  /* .services__item-icon */
  /* .services__item-img */
  /* .services__description */
  /* .services__description-title */
  /* .services__description-text */
  /* .services__items-right */
}

.services__title {
  color: #394b50;
  text-align: center;
}

.services__subtitle {
  color: #394b50;
  text-align: center;
}

.services__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 93px 0 0;
}

.services__items-left {
  height: 428px;
  width: 508px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.no-webp .services__item_faicons{
  background: url("../img/Services/Icons/fontawesomeicons.png") 0 0 no-repeat; }

.no-webp .services__item_wcform{
  background: url("../img/Services/Icons/workingcontactform.png") 0 0 no-repeat; }

.no-webp .services__item_fcode{
  background: url("../img/Services/Icons/friendlycode.png") 0 0 no-repeat; }

.no-webp .services__item_frdesign{
  background: url("../img/Services/Icons/fullyresponsivedesign.png") 0 0 no-repeat; }

.no-webp .services__item_rrihere{
  background: url("../img/Services/Icons/retinareadyiconshere.png") 0 0 no-repeat; }

.no-webp .services__item_ftlpdesign{
  background: url("../img/Services/Icons/flattrendylandingpageDesign.png") 15px 0 no-repeat; }

.services__description {
  width: 427px;
}

.services__description:hover {
  background: pink;
  text-shadow: 1px 1px 28px blue;
  border-radius: 4px;
  -webkit-transition: all 150ms ease-out 0s;
  -o-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
}

.services__description-title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  margin: 0 0 10px 0;
}

.services__description-text {
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
}

.services__items-right {
  width: 523px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  font-family: "Gotham", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  margin: 0 0 13px 0;
}

.subtitle {
  font-family: "OpenSans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}

.about {
  /* .about__inner */
  /* .about__picture */
  /* .about__picture-jpg */
  /* .about__info */
  /* .about__title */
  /* .about__text */
  /* .about__btn */
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__picture {
  -ms-flex-preferred-size: 1 1 50%;
      flex-basis: 1 1 50%;
}

.about__info {
  -ms-flex-preferred-size: 1 1 50%;
      flex-basis: 1 1 50%;
  background-color: #ffc155;
  padding: 164px 265px 174px 80px;
}

.about__title {
  color: #ffffff;
  margin: 0 0 28px 0;
}

.about__text {
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 33px 0;
}

.about__btn {
  display: block;
  width: 145px;
  height: 46px;
  border: 1px solid #e7ad48;
  background-color: transparent;
}

.about__btn:hover {
  color: #e7ad48;
  background-color: #ffffff;
  border: none;
  -webkit-transition: background-color 0.1s ease-out 0s, color 0.1s ease-out 0s;
  -o-transition: background-color 0.1s ease-out 0s, color 0.1s ease-out 0s;
  transition: background-color 0.1s ease-out 0s, color 0.1s ease-out 0s;
}

.btn {
  /* .btn__text */
}

.webp .request__slider{ background: url(../img/Request/laptop.webp) center 0px no-repeat; }

.webp .form__input:first-child{ background: url(../img/Request/Icons/fullname.webp) 15px 15px no-repeat, #ffffff; }

.webp .form__input:nth-child(2){ background: url(../img/Request/Icons/email.webp) 15px 17px no-repeat, #ffffff; }

.webp .form__input:nth-child(3){ background: url(../img/Request/Icons/phonenumber.webp) 15px 15px no-repeat, #ffffff; }

.webp .services__item_faicons{ background: url(../img/Services/Icons/fontawesomeicons.webp) 0 0 no-repeat; }

.webp .services__item_wcform{ background: url(../img/Services/Icons/workingcontactform.webp) 0 0 no-repeat; }

.webp .services__item_fcode{ background: url(../img/Services/Icons/friendlycode.webp) 0 0 no-repeat; }

.webp .services__item_frdesign{ background: url(../img/Services/Icons/fullyresponsivedesign.webp) 0 0 no-repeat; }

.webp .services__item_rrihere{ background: url(../img/Services/Icons/retinareadyiconshere.webp) 0 0 no-repeat; }

.webp .services__item_ftlpdesign{ background: url(../img/Services/Icons/flattrendylandingpageDesign.webp) 15px 0 no-repeat; }